@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

/*escondendo a barra de rolagem*/
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block; /*pra aparecer em baixo*/
    background-color: #550d08;

    padding: 20px;

    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #f8ecac;
}

a:hover{
    background-color: #b81202;
}